
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Diplomado</title>
</head>
<body>
    <div> 
        <h2>Definiendo datos en la view</h2>
        <p>
            de un escrito con unidad temática, que queda diferenciado del resto de fragmentos por un punto y aparte y generalmente también por llevar letra mayúscula inicial y un espacio en blanco en el margen izquierdo de alineación del texto principal de la primera línea.
        </p>


    </div>
</body>
</html>
